In [11]:
import pandas as pd
import numpy as np
import glob
import re

In [12]:
docs = []

for doc in glob.glob("docs/*"):
    with open(doc, "r") as f:
        docs.append(re.findall(r'\w+', f.read()))

In [21]:
vocab = set()
for doc in docs:
    for word in doc:
        if word not in vocab:
            vocab.add(word)
            
vocab = list(vocab)

In [33]:
frequency_matrix = {'Words': vocab}

for i, doc in enumerate(docs):
    count_matrix = {word: 0 for word in vocab}
    for word in doc:
        count_matrix[word] += 1
    frequency_matrix['D'+str(i)] = list(count_matrix.values())

In [35]:
freq_table = pd.DataFrame(frequency_matrix)

In [46]:
freq_table

          Words  D0  D1  D2  D3  D4
0      cultural   0   0   0   1   0
1          with   1   0   0   0   0
2       Ancient   0   0   2   0   0
3       history   0   0   1   0   0
4    Importance   0   1   0   0   0
..          ...  ..  ..  ..  ..  ..
115        lead   0   1   0   0   0
116  influences   0   0   0   1   0
117     History   0   0   1   0   0
118     species   0   1   0   0   0
119    exercise   0   0   0   0   1

[120 rows x 6 columns]

In [39]:
count_values = []
for i, doc in enumerate(freq_table):
    if i == 0:
        continue
    count_values.append(list(freq_table[doc]))

In [48]:
len(count_values)

5

In [42]:
def compute_cosine_sim(dat1, dat2):
    assert len(dat1) == len(dat2)
    
    mag1 = np.linalg.norm(dat1)
    mag2 = np.linalg.norm(dat2)
    score = np.dot(dat1, dat2)/(mag1*mag2)
    return score

In [43]:
similarity_matrix = {'Doc1': [], 'Doc2': [], 'Cosine Similarity': []}

for i in range(len(count_values)):
    doc1 = count_values[i]
    for j in range(i+1, len(count_values)):
        doc2 = count_values[j]
        
        cos_sim = compute_cosine_sim(doc1[1:], doc2[1:])
        similarity_matrix['Doc1'].append('D' + str(i))
        similarity_matrix['Doc2'].append('D' + str(j))
        similarity_matrix['Cosine Similarity'].append(cos_sim)

In [44]:
similarity_table = pd.DataFrame(similarity_matrix)

In [45]:
similarity_table.sort_values(by='Cosine Similarity', ascending=False)[:10]

  Doc1 Doc2  Cosine Similarity
2   D0   D3           0.255583
4   D1   D2           0.253673
0   D0   D1           0.249423
6   D1   D4           0.221710
5   D1   D3           0.219578
1   D0   D2           0.206689
7   D2   D3           0.181956
8   D2   D4           0.177162
9   D3   D4           0.113592
3   D0   D4           0.096774