In [57]:
import pandas as pd
import numpy as np

In [49]:
NAN_VALUE = 0
data = pd.read_csv('animal.txt').fillna(NAN_VALUE)

In [50]:
data

   Unnamed: 0  war  fly  ver  end  gro  hai
0         ant    1    1    1  1.0  2.0    1
1         bee    1    2    1  1.0  2.0    2
2         cat    2    1    2  1.0  1.0    2
3         cpl    1    1    1  1.0  1.0    2
4         chi    2    1    2  2.0  2.0    2
5         cow    2    1    2  1.0  2.0    2
6         duc    2    2    2  1.0  2.0    1
7         eag    2    2    2  2.0  1.0    1
8         ele    2    1    2  2.0  2.0    1
9         fly    1    2    1  1.0  1.0    1
10        fro    1    1    2  2.0  0.0    1
11        her    1    1    2  1.0  2.0    1
12        lio    2    1    2  0.0  2.0    2
13        liz    1    1    2  1.0  1.0    1
14        lob    1    1    1  1.0  0.0    1
15        man    2    1    2  2.0  2.0    2
16        rab    2    1    2  1.0  2.0    2
17        sal    1    1    2  1.0  0.0    1
18        spi    1    1    1  0.0  1.0    2
19        wha    2    1    2  2.0  2.0    1

In [59]:
def compute_euclidean_distance(dat1, dat2):
    assert len(dat1) == len(dat2)
    
    score = 0
    for i in range(len(dat1)):
        score += (dat1[i] - dat2[i])**2
    
    return score**0.5


def compute_cosine_sim(dat1, dat2):
    assert len(dat1) == len(dat2)
    
    mag1 = np.linalg.norm(dat1)
    mag2 = np.linalg.norm(dat2)
    score = np.dot(dat1, dat2)/(mag1*mag2)
    return score

In [61]:
similarity_matrix = {'Doc1': [], 'Doc2': [], 'Euclidean Distance': [], 'Cosine Similarity': []}

for i in range(len(data)):
    row1 = data.loc[i]
    for j in range(i+1, len(data)):
        row2 = data.loc[j]
        
        euc_dist = compute_eculidean_distance(row1[1:], row2[1:])
        cos_sim = compute_cosine_sim(row1[1:], row2[1:])
        similarity_matrix['Doc1'].append(row1[0])
        similarity_matrix['Doc2'].append(row2[0])
        similarity_matrix['Euclidean Distance'].append(euc_dist)
        similarity_matrix['Cosine Similarity'].append(cos_sim)

In [62]:
similarity_table = pd.DataFrame(similarity_matrix)

In [64]:
similarity_table.sort_values(by='Cosine Similarity', ascending=False)[:10]

    Doc1 Doc2  Euclidean Distance  Cosine Similarity
95   cow  rab                 0.0           1.000000
134  ele  wha                 0.0           1.000000
80   chi  man                 0.0           1.000000
84   chi  wha                 1.0           0.977255
94   cow  man                 1.0           0.977255
73   chi  ele                 1.0           0.977255
70   chi  cow                 1.0           0.977255
130  ele  man                 1.0           0.977255
81   chi  rab                 1.0           0.977255
180  man  rab                 1.0           0.977255